[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target


[Service]
User=root
Group=www-data
WorkingDirectory=/root/auto
ExecStart=/root/auto/autoenv/bin/gunicorn --access-logfile - --workers 3 --bind
unix:/run/gunicorn.sock \
auto_base.wsgi:application
auto/auto_base.wsgi:application

[Install]
WantedBy=multi-user.target
